In [38]:
import json
from yelpapi import YelpAPI
import os,math,time

In [6]:
with open('/Users/marya/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [7]:
yelp_api = YelpAPI(login['api-key'],timeout_s=5.0)
yelp_api

In [46]:
LOCATION = 'Boston, MA'
TERM = 'Oysters'

In [47]:
JSON_FILE = f"Data/results_in_progress_Oysters.json"
JSON_FILE

'Data/results_in_progress_Oysters.json'

In [51]:
file_exists = os.path.isfile(JSON_FILE)
 
if file_exists == False:

    folder = os.path.dirname(JSON_FILE)

if len(folder)>0:

    os.makedirs(folder,exist_ok=True)
    print(f"[i] {JSON_FILE} not found. Saving empty list to file.")

    with open(JSON_FILE,'w') as f:
        json.dump([],f)  

else:
    print(f"[i] {JSON_FILE} already exists.")

[i] Data/results_in_progress_Oysters.json not found. Saving empty list to file.

In [52]:
with open(JSON_FILE, 'r') as f:
    previous_results = json.load(f)

n_results = len(previous_results)
print(f'- {n_results} previous results found.')

- 0 previous results found.

In [69]:
results = yelp_api.search_query(location='Boston, MA',
                                       term='Oysters')
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [70]:
total_results=results['total']
total_results

1100

In [71]:
results_per_page = len(results['businesses'])
results_per_page

20

In [72]:
n_pages = math.ceil((search_results['total']-n_results)/ results_per_page)
n_pages

5

In [73]:
previous_results.extend(results['businesses'])
with open(JSON_FILE,'w') as f:
        json.dump([],f)

In [64]:
pip install tqdm

Requirement already satisfied: tqdm in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (4.64.0)
Requirement already satisfied: colorama in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (from tqdm) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [74]:
from tqdm.notebook import tqdm_notebook
import time
for i in tqdm_notebook(range(n_pages)):
    # adds 200 ms pause
    time.sleep(.2)

  0%|          | 0/5 [00:00<?, ?it/s]

In [75]:
for i in tqdm_notebook( range(1,n_pages+1)):
    time.sleep(.2)

    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)

    n_results = len(previous_results)
## use n_results as the OFFSET 
    results = yelp_api.search_query(location=LOCATION,
                                    term=TERM, 
                                    offset=n_results)
## Adding new results and save to file
    previous_results.extend(results['businesses'])
    
#display(previous_results)
    with open(JSON_FILE,'w') as f:
        json.dump(previous_results,f)

  0%|          | 0/5 [00:00<?, ?it/s]

# Displaying Results in a Dataframe

In [78]:
import pandas as pd
final_df = pd.read_json(JSON_FILE)
display(final_df.head(),final_df.tail())

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,y2w6rFaO0XEiG5mFfOsiFA,neptune-oyster-boston,Neptune Oyster,https://s3-media1.fl.yelpcdn.com/bphoto/u4Lkf6...,False,https://www.yelp.com/biz/neptune-oyster-boston...,5521,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 42.36321, 'longitude': -71.05594}",[delivery],$$$,"{'address1': '63 Salem St', 'address2': '', 'a...",+16177423474,(617) 742-3474,2122.402939
1,sA2gVTJOBH7Qk32p48ENdQ,saltie-girl-boston,Saltie Girl,https://s3-media4.fl.yelpcdn.com/bphoto/k4kCgo...,False,https://www.yelp.com/biz/saltie-girl-boston?ad...,1487,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 42.35116, 'longitude': -71.07758}","[delivery, pickup]",$$$,"{'address1': '279 Dartmouth St', 'address2': '...",+16172670691,(617) 267-0691,638.213544
2,Ruq91rmQNweZ78TzKylQMg,union-oyster-house-boston,Union Oyster House,https://s3-media3.fl.yelpcdn.com/bphoto/59KE1O...,False,https://www.yelp.com/biz/union-oyster-house-bo...,3083,"[{'alias': 'seafood', 'title': 'Seafood'}]",3.5,"{'latitude': 42.36128, 'longitude': -71.05688}","[delivery, pickup]",$$,"{'address1': '41 Union St', 'address2': '', 'a...",+16172272750,(617) 227-2750,1912.817873
3,mxjVk5rvPNhzYe_vt3OSQA,b-and-g-oysters-boston,B&G Oysters,https://s3-media1.fl.yelpcdn.com/bphoto/hhuEaW...,False,https://www.yelp.com/biz/b-and-g-oysters-bosto...,1104,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 42.34388, 'longitude': -71.07123}","[delivery, pickup]",$$$,"{'address1': '550 Tremont St', 'address2': '',...",+16174230550,(617) 423-0550,436.649431
4,nyy38msunExaObJOeH7j0Q,bootleg-special-boston,Bootleg Special,https://s3-media1.fl.yelpcdn.com/bphoto/DrKLEO...,False,https://www.yelp.com/biz/bootleg-special-bosto...,844,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 42.3471199, 'longitude': -71.06834}","[delivery, restaurant_reservation, pickup]",$$,"{'address1': '400 Tremont St', 'address2': Non...",+16174511800,(617) 451-1800,258.081254

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
95,AHgRWXw3IMe5WHktt3f6Xg,crudo-boston,Crudo,https://s3-media4.fl.yelpcdn.com/bphoto/mVlPvK...,False,https://www.yelp.com/biz/crudo-boston?adjust_c...,300,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.0,"{'latitude': 42.3636849645937, 'longitude': -7...","[pickup, delivery]",$$$,"{'address1': '78 Salem St', 'address2': '', 'a...",+16173676500,(617) 367-6500,2166.017010
96,omw2RVtNoMJ-Eet6Tvl_IA,the-oceanaire-seafood-room-boston,The Oceanaire Seafood Room,https://s3-media2.fl.yelpcdn.com/bphoto/9nTUNx...,False,https://www.yelp.com/biz/the-oceanaire-seafood...,713,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.0,"{'latitude': 42.359075, 'longitude': -71.059176}","[pickup, delivery]",$$$,"{'address1': '40 Court St', 'address2': '', 'a...",+16177422277,(617) 742-2277,1594.835753
97,MKIngNGj0_cBKV4leGuCjw,the-tip-tap-room-boston,The Tip Tap Room,https://s3-media1.fl.yelpcdn.com/bphoto/P48ljb...,False,https://www.yelp.com/biz/the-tip-tap-room-bost...,736,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 42.36105, 'longitude': -71.063986}",[delivery],$$,"{'address1': '138 Cambridge St', 'address2': '...",+18573503344,(857) 350-3344,1585.147588
98,_Xh0hL64vuxfHf3iewJYQA,prairie-fire-brookline,Prairie Fire,https://s3-media1.fl.yelpcdn.com/bphoto/f4F2BR...,False,https://www.yelp.com/biz/prairie-fire-brooklin...,143,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 42.3413165917443, 'longitude': -7...",[delivery],$$,"{'address1': '242 Harvard St', 'address2': '',...",+16173968199,(617) 396-8199,4168.062860
99,nIS4O-TwLYkA_P1Cu0SfhA,yvonnes-boston,Yvonne's,https://s3-media3.fl.yelpcdn.com/bphoto/8ZNXlv...,False,https://www.yelp.com/biz/yvonnes-boston?adjust...,1154,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 42.355517, 'longitude': -71.0614361}",[delivery],$$,"{'address1': '2 Winter Pl', 'address2': None, ...",+16172670047,(617) 267-0047,1173.830091

# Checking for Duplicates

In [79]:
final_df.duplicated(subset='id').sum()

0

In [80]:
final_df.to_csv('Data/final_results_Oysters.csv.gz', compression='gzip',
                index=False)